.frame {
  /* display: inline-flex; */
  margin: auto;
  flex-direction: column;
  max-width: 1156px;
  height: 1973px;
  align-items: center;
  position: relative;
}

.autors-link, .year, .left, .right {
  cursor: pointer;
}

.frame .header-wrapper {
  display: flex;
  flex-direction: column;
  width: 1156px;
  height: 172px;
  align-items: flex-start;
  gap: 10px;
  /* padding: 10px; */
  position: relative;
  margin-bottom: -10px;
}

.frame .header {
  position: relative;
  width: 1156px;
  height: 162px;
  margin-bottom: -10px;
  margin-right: -6px;
  object-fit: cover;
}

.frame .div {
  display: flex;
  width: 1156px;
  /* height: 42px; */
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 4px solid;
  border-color: #000000;
}

.frame .autors-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
}

.frame .text-wrapper {
  width: fit-content;
  margin-top: -1px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  font-family: "Source Code Pro", Helvetica;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.selected-item {
  background-color: #e81621 !important;
}

.frame .year {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 23px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
}

.frame .div-3 {
  display: flex;
  width: 1156px;
  height: 265px;
  align-items: center;
  justify-content: center;
  gap: 170px;
  padding: 24px 0px 0px;
  position: relative;
}

.frame .element-CINE-FANTOM-wrapper {
  display: flex;
  width: 493px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  position: relative;
  align-self: stretch;
}

.frame .element-CINE-FANTOM {
  position: relative;
  align-self: stretch;
  width: 493px;
  margin-top: -1px;
  font-family: "Source Code Pro", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-wrapper-4 {
  display: flex;
  width: 493px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  position: relative;
  margin-top: -7px;
  margin-bottom: -7px;
}

.frame .p {
  width: 493px;
  height: 255px;
  margin-top: -1px;
  font-weight: 400;
  color: #000000;
  position: relative;
  font-family: "Source Code Pro", Helvetica;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .magazine-container {
  display: flex;
  flex-wrap: wrap;
  width: 1156x;
  align-items: center;
  gap: 40px 38px;
  position: relative;
  flex: 0 0 auto;
  border-top-width: 4px;
  border-top-style: solid;
  border-color: #000000;
  margin-top: 24px;
}

.frame .m-block {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 4px; */
  position: relative;
  flex: 0 0 auto;
  border: 4px solid;
  border-color: #000000;
  margin-top: -4px;
}

.frame .div-6 {
  display: flex;
  width: 352px;
  height: 54px;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: #000000;
}

.frame .div-wrapper-5 {
  display: flex;
  width: 100px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: #000000;
}

.frame .m-year {
  position: relative;
  width: fit-content;
  font-family: "Source Code Pro", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-7 {
  display: inline-flex;
  flex-direction: column;
  height: 50px;
  align-items: flex-start;
  justify-content: center;
  gap: 1px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-3 {
  width: fit-content;
  font-weight: 400;
  color: #000000;
  position: relative;
  font-family: "Source Code Pro", Helvetica;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-wrapper-6 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: #000000;
}

.frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -4px;
  font-family: "Source Code Pro", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .cover-wrapper {
  display: flex;
  width: 352px;
  height: 500px;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  position: relative;
  z-index: -1;
}

.frame .cover {
  position: relative;
  width: 352px;
  height: 500px;
  margin-top: -10px;
  margin-bottom: -10px;
  object-fit: cover;
}

.frame .div-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f2f2f2;
}

.frame .img {
  position: relative;
  width: 352px;
  flex: 0 0 auto;
}

.frame .div-wrapper-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Source Code Pro", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.arrows-box {
  display: flex;
  width: 352px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 0px 15px;
  position: relative;
}

.arrows-box .layer {
  position: relative;
  width: 40px;
  height: 40px;
}



img {
  image-rendering: pixelated !important;
  /* or 'crisp-edges' */
  transform: translate3d(0, 0, 0);
  /* for GPU acceleration */
}


#preloader {
  position: fixed;
  /* Fixed position */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  /* Center the SVG horizontally */
  align-items: center;
  /* Center the SVG vertically */
  z-index: 9999;
  /* High z-index to be on top of other elements */
}

.lg-backdrop {
  background-color: white !important;
}

.lg-next, .lg-prev {
  background: none !important;
}

.lg-next:hover, .lg-prev:hover, .lg-icon:hover {
  color: lightgray !important;
}


#authors {
  -webkit-column-width: 232px;
  -moz-column-width: 232px;
  column-width: 232px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: 10px;
}

.author-container {
  break-inside: avoid;
  /* Avoid breaking items across columns */
  margin-top: 10px;
  font-family: 'Source Code Pro',
      Arial,
      sans-serif;
}

#authors-wrapper {
  border-top-width: 4px;
    border-top-style: solid;
    border-color: #000000;
    margin-top: 24px;
}

.author-item {
  padding: 2px;
}

.author-letter {  
  font-size: 20px;
  font-weight: 600;
}

.author-name {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}